<section class="screen">
    <header class="screen__header">
        <app-search
            class="f_f-g_1 m-r_8"
            [control]="searchControl"
            [clearCommand]="searchClearCommand"
            [isClearVisible]="isSearchClearVisible"
            (onFocus)="searchFocusHandler()"
            (onBlur)="searchBlurHandler()"
        ></app-search>

        <week-button [command]="logoutCommand"></week-button>
    </header>

    <article class="screen__content">
        <ng-container *ngFor="let action of navigationCommands">
            <week-action class="h_56 t-a_l" [command]="action">
                <div class="screen__block h_40 m-s_16">
                    <week-icon class="m-s_8 o_20" [icon]="action.icon"></week-icon>
                    <week-info class="m-r_8" [text]="action.text" [isCropped]="true"></week-info>
                </div>
            </week-action>
        </ng-container>
    </article>

    <footer class="screen__footer">
        <week-button [command]="chatPageCommand"></week-button>
        <week-button class="screen__active" [command]="settingsPageCommand"></week-button>
    </footer>
</section>
