<section class="screen">
    <header class="screen__header">
        <week-button class="z-i_1" [command]="backCommand"></week-button>

        <div class="screen__header-title screen__block f_f-g_1">
            <week-action class="f_f-g_1 b-r_12 t-a_c" [command]="infoCommand">
                <div class="screen__block h_40 m-s_8" tabindex="0">
                    <div class="screen__online-status m-s_8"></div>
                    <week-info class="f_f-s_1 m-r_8" [text]="infoCommand.text" [isCropped]="true"></week-info>
                </div>
            </week-action>
        </div>

        <week-menu class="z-i_1" [menuCommand]="menuCommand" [commands]="menuCommands"></week-menu>
    </header>

    <article class="screen__content">
        <week-info class="t-a_c m-t_8 m-b_8 m-s_24" [subtext]="'22 вересня'"></week-info>

        <app-message class="m-t_8 m-r_24 m-b_8" time="14:52" [isInput]="true" [text]="'123'"></app-message>

        <app-message
            class="f_a-s_f-e m-w_560 m-t_8 m-b_8 m-l_24"
            time="14:52"
            [text]="
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel porta sit viverra vehicula ultrices sed vel. Risus elementum eu lorem varius hendrerit diam viverra ipsum vestibulum. Pulvinar fermentum, consequat ut eget nibh tortor, pellentesque lobortis. Elementum '
            "
        ></app-message>

        <week-info class="t-a_c m-t_8 m-b_8 m-s_24" [subtext]="'23 вересня'"></week-info>

        <app-message
            class="m-w_560 m-t_8 m-r_24 m-b_8"
            time="14:52"
            [isInput]="true"
            [text]="
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel porta sit viverra vehicula ultrices sed vel. Risus elementum eu lorem varius hendrerit diam viverra ipsum vestibulum. Pulvinar fermentum, consequat ut eget nibh tortor, pellentesque lobortis. Elementum '
            "
        ></app-message>

        <app-message
            class="f_a-s_f-e m-w_560 m-t_8 m-b_8 m-l_24"
            time="14:52"
            [text]="
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel porta sit viverra vehicula ultrices sed vel. Risus elementum eu lorem varius hendrerit diam viverra ipsum vestibulum. Pulvinar fermentum, consequat ut eget nibh tortor, pellentesque lobortis. Elementum '
            "
        ></app-message>
    </article>

    <footer class="screen__footer">
        <app-message-input class="f_f-g_1" (onSend)="sendhandler($event)"></app-message-input>
    </footer>
</section>
