<section class="screen">
    <header class="screen__header">
        <week-button class="z-i_1" [command]="backCommand"></week-button>

        <div class="screen__header-title screen__block f_f-g_1">
            <week-button class="f_f-g_1 h_40 t-a_c b-r_12" [command]="infoCommand"></week-button>
        </div>

        <week-menu class="z-i_1" [menuCommand]="menuCommand" [commands]="menuCommands"></week-menu>
    </header>

    <article class="screen__content">
        <week-info class="t-a_c m-t_8 m-b_8" [subtext]="'22 вересня'"></week-info>

        <ng-container *ngTemplateOutlet="inputMessage"></ng-container>

        <ng-container *ngTemplateOutlet="outputMessage"></ng-container>

        <week-info class="t-a_c m-t_8 m-b_8" [subtext]="'23 вересня'"></week-info>

        <ng-container *ngTemplateOutlet="inputMessage"></ng-container>

        <ng-container *ngTemplateOutlet="outputMessage"></ng-container>
    </article>

    <footer class="screen__footer">
        <app-message-input class="f_f-g_1" (onSend)="sendhandler($event)"></app-message-input>
    </footer>
</section>

<ng-template #inputMessage>
    <div class="screen__block m-w_560 m-t_8 m-r_24 m-b_8 m-l_24">
        <app-avatar class="" [isOnline]="true" name="Каш Дм"></app-avatar>

        <app-message
            class="m-l_m-16"
            time="14:52"
            [isInput]="true"
            [text]="'123'"
            [name]="'Кашуба Дмитро'"
        ></app-message>
    </div>
</ng-template>

<ng-template #outputMessage>
    <app-message
        class="f_a-s_f-e m-w_560 m-t_8 m-b_8 m-l_24"
        time="14:52"
        [text]="
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel porta sit viverra vehicula ultrices sed vel. Risus elementum eu lorem varius hendrerit diam viverra ipsum vestibulum. Pulvinar fermentum, consequat ut eget nibh tortor, pellentesque lobortis. Elementum '
        "
    ></app-message>
</ng-template>
