<section class="screen">
    <header class="screen__header">
        <week-button [command]="backCommand"></week-button>
        <week-info class="screen__header-title" text="Версія" [isCropped]="true"></week-info>
    </header>

    <article class="screen__content m-w_560">
        <week-icon class="screen__logo" icon="logo"></week-icon>
        <week-info class="m-s_24 t-a_c" subtext="Версія 0.1.23"></week-info>
        <week-info class="m-s_24 t-a_c" subtext="Доступна нова версія програми"></week-info>
<!--        <week-button class="h_56 m-t_8 m-s_8 m-b_8 b-c_dark b-r_12" mode="dark" [command]="updateCommand"></week-button>-->

      <div class="screen__block f_j-c_c m-t_16">
        <week-action class="w_128 b-c_dark b-r_12 c_white" mode="dark" [command]="updateCommand">
          <div class="f f_f-d_c f_a-i_c m-t_16 m-b_16">
            <week-icon class="f_white" [icon]="updateCommand.icon"></week-icon>
            <week-info class="m-t_4 m-s_8" mode="dark" [text]="updateCommand.text"></week-info>
          </div>
        </week-action>
      </div>
    </article>
</section>
