:host {
    display: block;
    height: 100%;
}

// .user {
//     &__tabel-number {
//         padding: 12px 42px;
//         font-size: 24px;
//         line-height: 32px;
//         color: #ffffff;
//     }
// }
