<section class="screen">
    <header class="screen__header">
        <week-button class="z-i_1" [command]="backCommand"></week-button>

        <week-info class="screen__header-title" text="Профайл" [isCropped]="true"></week-info>
    </header>

    <article class="screen__content m-w_560">
        <app-avatar class="m-t_16 f_a-s_c" size="big" [isOnline]="true" name="Каш Дм"></app-avatar>

        <week-info
            class="m-t_16 m-s_24 t-a_c"
            text="Кашуба Дмитро Анатолійович"
            subtext="програміcт прикладний провідний"
        ></week-info>

        <div class="screen__block f_j-c_c m-t_24">
            <week-action class="w_128 m-s_8 b-c_dark b-r_12 c_white" mode="dark" [command]="createChatCommand">
                <div class="f f_f-d_c f_a-i_c m-t_16 m-b_16">
                    <week-icon class="f_white" [icon]="createChatCommand.icon"></week-icon>
                    <week-info class="m-t_4 m-s_8" mode="dark" [text]="createChatCommand.text"></week-info>
                </div>
            </week-action>
        </div>

        <div class="screen__block screen__block-list screen__block-list_56 m-t_24 m-s_8">
            <week-action [command]="copyCommand">
                <div class="screen__block h_56">
                    <week-icon class="m-l_16 o_20" icon="person"></week-icon>
                    <week-info class="f_f-g_1 m-l_16 m-r_8" text="101 204" subtext="табельний номер"></week-info>
                    <week-icon class="w_40 m-s_8" [icon]="copyCommand.icon"></week-icon>
                </div>
            </week-action>

            <week-action [command]="copyCommand">
                <div class="screen__block h_56">
                    <week-icon class="m-l_16 o_20" icon="alternate_email"></week-icon>
                    <week-info
                        class="f_f-g_1 m-l_16 m-r_8"
                        text="yaroslavhyrych@ukrsibbank.com"
                        subtext="поштова скринька"
                    ></week-info>
                    <week-icon class="w_40 m-s_8" [icon]="copyCommand.icon"></week-icon>
                </div>
            </week-action>

            <week-action [command]="copyCommand">
                <div class="screen__block h_56">
                    <week-icon class="m-l_16 o_20" icon="phone"></week-icon>
                    <week-info
                        class="f_f-g_1 m-l_16 m-r_8"
                        text="66 381 56 06"
                        subtext="контактний телефон"
                    ></week-info>
                    <week-icon class="w_40 m-s_8" [icon]="copyCommand.icon"></week-icon>
                </div>
            </week-action>
        </div>
    </article>
</section>
