<form class="h_100pc" [formGroup]="formGroup">
    <section class="screen">
        <article class="screen__content">
            <div class="f f_j-c_f-e m_8">
                <week-menu
                    class="f_a-s_f-e b-r_12"
                    [menuCommand]="languageMenuCommand"
                    [commands]="languageCommands"
                ></week-menu>
            </div>

            <week-icon class="screen__logo" icon="logo"></week-icon>

            <week-info
                class="m-s_24 t-a_c"
                subtext="Для входу в систему використовуйте логін та пороль від AD системи"
            ></week-info>

            <div class="screen__block screen__block-list screen__block-list_56 m-t_24 m-s_8">
                <week-input class="f_f-g_1" icon="person" placeholder="Логін" formControlName="login"></week-input>
                <week-input
                    class="f_f-g_1"
                    icon="vpn_key"
                    placeholder="Пароль"
                    type="password"
                    formControlName="password"
                ></week-input>
            </div>

            <div class="screen__block screen__block-list m-t_24 m-s_8">
                <week-switch class="f_f-g_1" label="Запам’ятати мене" formControlName="remember"></week-switch>
            </div>
        </article>

        <week-button
            class="h_56 m-t_24 m-s_8 m-b_8 b-c_dark b-r_12"
            mode="dark"
            [command]="submitCommand"
        ></week-button>
    </section>
</form>
