<section class="screen">
    <header class="screen__header">
        <app-search
            class="f_f-g_1 m-r_8"
            [control]="searchControl"
            [clearCommand]="searchClearCommand"
            [isClearVisible]="isSearchClearVisible"
            (onFocus)="searchFocusHandler()"
            (onBlur)="searchBlurHandler()"
        ></app-search>
    </header>

    <article class="screen__content">
        <ng-container *ngIf="!searchControl.value">
            <week-info class="h_100pc f_j-c_c m-s_24 t-a_c" subtext="Пошук чатів, користувачів та груп"></week-info>
        </ng-container>

        <ng-container *ngIf="searchControl.value">
            <week-info class="m-t_24 m-s_24" subtext="Чати та групи"></week-info>

            <ng-container *ngFor="let chat of chats">
                <week-action class="w_100pc" [command]="chat.command">
                    <app-user-item
                        class="h_80"
                        [isOnline]="chat.user.isOnline"
                        [isGroup]="chat.user.isGroup"
                        [isMarked]="chat.isUnread"
                        [text]="chat.user.name"
                        [subtext]="chat.lastMessage"
                    ></app-user-item>
                </week-action>
            </ng-container>

            <week-info class="m-t_12 m-s_24 m-b_8" subtext="Контакти"></week-info>

            <ng-container *ngFor="let contact of contacts">
                <week-action class="w_100pc" [command]="contact.command">
                    <div class="screen__block w_100pc">
                        <app-user-item
                            class="h_56 m-l_8 f_f-g_1"
                            avatarSize="small"
                            [isOnline]="contact.user.isOnline"
                            [text]="contact.user.name"
                            [subtext]="contact.user.position!"
                        >
                        </app-user-item>
                    </div>
                </week-action>
            </ng-container>
        </ng-container>
    </article>
</section>
