:host {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 50%;
    background-color: #efeff3;

    &.avatar {
        &_big {
            width: 100px;
            height: 100px;
            background-color: transparentize(#000000, 0.95);

            & > .avatar {
                &__name {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 20px;
                }
                &__mark,
                &__status {
                    width: 14px;
                    height: 14px;
                }

                &__mark {
                    top: 6px;
                    right: 6px;
                }

                &__group {
                    right: 4px;
                    bottom: 4px;
                }

                &__status {
                    right: 6px;
                    bottom: 6px;
                }
            }
        }

        &_middle {
            width: 56px;
            height: 56px;

            & > .avatar {
                &__name {
                    font-size: 24px;
                    line-height: 20px;
                }
                &__mark,
                &__status {
                    width: 10px;
                    height: 10px;
                }

                &__group {
                    right: 0;
                    bottom: 0;
                }
            }
        }

        &_small {
            width: 40px;
            height: 40px;

            & > .avatar {
                &__name {
                    font-size: 16px;
                    line-height: 20px;
                }
                &__mark,
                &__status {
                    width: 6px;
                    height: 6px;
                }

                &__group {
                    display: none;
                }
            }
        }
    }
}

.avatar {
    &__name {
        text-align: center;
        opacity: 0.4;
        color: inherit;
        text-transform: uppercase;
    }

    &__mark,
    &__status {
        position: absolute;
        border: 2px solid #efeff3;
        border-radius: 50%;
    }

    &__mark {
        top: 2px;
        right: 2px;
        background-color: #f5a623;
    }

    &__status {
        right: 2px;
        bottom: 2px;
        background-color: #0a9a7b;
    }

    &__group {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #ffffff;

        & > week-icon {
            width: 16px;
            height: 16px;
            fill: transparentize(#000000, 0.8);
        }

        & + .avatar__status {
            display: none;
        }
    }
}
