<div class="avatar__name">{{ shortName }}</div>

<ng-container *ngIf="isMarked">
    <div class="avatar__mark"></div>
</ng-container>

<ng-container *ngIf="isGroup">
    <div class="avatar__group">
        <week-icon icon="people"></week-icon>
    </div>
</ng-container>

<ng-container *ngIf="isOnline">
    <div class="avatar__status"></div>
</ng-container>
