<section class="screen">
    <header class="screen__header">
        <week-button class="z-i_1" [command]="backCommand"></week-button>

        <week-info class="screen__header-title" text="Дані" [isCropped]="true"></week-info>

        <week-menu class="z-i_1" [menuCommand]="menuCommand" [commands]="menuCommands"></week-menu>
    </header>

    <article class="screen__content">
        <app-avatar class="m-t_16 f_a-s_c" size="big" [isGroup]="true" name="NDF заявки"></app-avatar>

        <week-info class="m-t_16 m-s_24 t-a_c" text="NDF заявки"></week-info>

        <div class="screen__block f_j-c_c m-t_24">
            <week-action class="w_128 m-s_8 b-c_dark c_white b-r_12" mode="dark" [command]="writeMessageCommand">
                <div class="f f_f-d_c f_a-i_c m-t_16 m-b_16">
                    <week-icon class="f_white" [icon]="writeMessageCommand.icon"></week-icon>
                    <week-info class="m-t_4 m-s_8" mode="dark" [text]="writeMessageCommand.text"></week-info>
                </div>
            </week-action>

            <week-action class="w_128 m-s_8 b-c_dark c_white b-r_12" mode="dark" [command]="menuCommands[2]">
                <div class="f f_f-d_c f_a-i_c m-t_16 m-b_16">
                    <week-icon class="f_white" [icon]="menuCommands[2].icon"></week-icon>
                    <week-info class="m-t_4 m-s_8" mode="dark" [text]="menuCommands[2].text"></week-info>
                </div>
            </week-action>
        </div>

        <ng-container *ngIf="hasUsers">
            <week-info class="m-t_24 m-s_24" subtext="Учасники"></week-info>

            <div class="screen__block screen__block-list screen__block-list_56 m-t_16 m-s_8 m-b_24">
                <ng-container *ngFor="let contact of contacts">
                    <week-action class="w_100pc" [command]="contact.command">
                        <div class="screen__block w_100pc">
                            <app-user-item
                                class="h_56 f_f-g_1"
                                avatarSize="small"
                                [isOnline]="contact.user.isOnline"
                                [text]="contact.user.name"
                                [subtext]="contact.user.position!"
                            >
                            </app-user-item>
                        </div>
                    </week-action>
                </ng-container>
            </div>
        </ng-container>

        <ng-container *ngIf="!hasUsers">
            <week-info class="m-t_24 m-s_24 t-a_c" subtext="В групі немає учасників"></week-info>
        </ng-container>
    </article>
</section>
