<section class="screen">
    <header class="screen__header">
        <app-search
            class="f_f-g_1 m-r_8"
            [control]="searchControl"
            [clearCommand]="searchClearCommand"
            [isClearVisible]="isSearchClearVisible"
            (onFocus)="searchFocusHandler()"
            (onBlur)="searchBlurHandler()"
        ></app-search>

        <week-menu [menuCommand]="createMenuCommand" [commands]="createMenuOptions"></week-menu>
    </header>

    <article class="screen__content">
        <ng-container *ngFor="let chat of chats">
            <week-action class="w_100pc" [command]="chat.command">
                <app-user-item
                    class="h_80"
                    [isOnline]="chat.user.isOnline"
                    [isGroup]="chat.user.isGroup"
                    [isMarked]="chat.isUnread"
                    [text]="chat.user.name"
                    [subtext]="chat.lastMessage"
                ></app-user-item>
            </week-action>
        </ng-container>
    </article>

    <footer class="screen__footer">
        <week-button class="screen__active" [command]="chatPageCommand"></week-button>
        <week-button [command]="settingsPageCommand"></week-button>
    </footer>
</section>
