<section class="screen" [formGroup]="formGroup">
    <header class="screen__header">
        <week-button [command]="backCommand"></week-button>
        <week-info class="screen__header-title" text="Сповіщення та звук" [isCropped]="true"></week-info>
    </header>

    <article class="screen__content m-w_560">
        <week-info class="m-t_24 m-s_24" subtext="Сповіщення"></week-info>

        <div class="screen__block screen__block-list m-t_16 m-s_8">
            <week-switch class="f_f-g_1" label="Показувати сповіщення" formControlName="showMessage"></week-switch>

            <week-switch class="f_f-g_1" label="Текст повідомлень" formControlName="showMessageText"></week-switch>
        </div>

        <week-info class="m-t_24 m-s_24" subtext="Звук"></week-info>

        <div class="screen__block screen__block-list m-t_16 m-s_8">
            <week-switch class="f_f-g_1" label="Звук сповіщення" formControlName="messageSound"></week-switch>
        </div>
    </article>
</section>
