<div class="screen__wrapper screen__wrapper_gray">
    <app-login></app-login>
</div>

<div class="screen__wrapper">
    <app-chats></app-chats>
</div>

<div class="screen__wrapper">
    <app-create-chat></app-create-chat>
</div>

<div class="screen__wrapper screen__wrapper_gray">
    <app-user></app-user>
</div>

<div class="screen__wrapper">
    <app-user-chat></app-user-chat>
</div>

<div class="screen__wrapper">
    <app-create-group-contacts></app-create-group-contacts>
</div>

<div class="screen__wrapper screen__wrapper_gray">
    <app-create-group-description></app-create-group-description>
</div>

<div class="screen__wrapper screen__wrapper_gray">
    <app-group></app-group>
</div>

<div class="screen__wrapper screen__wrapper_gray">
    <app-edit-group></app-edit-group>
</div>

<div class="screen__wrapper">
    <app-group-chat></app-group-chat>
</div>

<div class="screen__wrapper">
    <app-add-to-group></app-add-to-group>
</div>

<div class="screen__wrapper">
    <app-menu></app-menu>
</div>

<div class="screen__wrapper screen__wrapper_gray">
    <app-language></app-language>
</div>

<div class="screen__wrapper screen__wrapper_gray">
    <app-notifications></app-notifications>
</div>

<div class="screen__wrapper screen__wrapper_gray">
    <app-version></app-version>
</div>

<div class="screen__wrapper screen__wrapper_gray">
    <app-support></app-support>
</div>

<div class="screen__wrapper screen__wrapper_gray">
    <app-update></app-update>
</div>

<div class="screen__wrapper screen__wrapper_gray">
    <app-not-selected-chat></app-not-selected-chat>
</div>

<div class="screen__wrapper">
    <app-search-result></app-search-result>
</div>
