:host {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &.message {
        &_input {
            .message {
                &__block {
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    border-bottom-left-radius: 0;
                }

                &__corner {
                    fill: #efeff3;
                }
            }
        }

        &_output {
            flex-direction: row-reverse;

            .message {
                &__block {
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 12px;
                }

                &__corner {
                    transform: scaleX(-1);
                    fill: #0a9a7b;
                }
            }
        }
    }
}

.message__corner {
    flex-shrink: 0;
}

.b-c {
    &_active {
        align-self: flex-end;
        color: #ffffff;

        .f-s_small {
            opacity: 0.4;
        }
    }

    &_gray {
        align-self: flex-start;

        .f-s_small {
            opacity: 0.2;
        }
    }
}
