<week-icon class="message__corner" icon="corner"></week-icon>

<div
    class="screen__block message__block i-b f_f-d_c f_a-i_f-s"
    [class.b-c_gray]="isInput"
    [class.b-c_active]="!isInput"
>
    <week-info class="m-t_8 m-s_8 t-a_l" [text]="text" [mode]="infoMode"></week-info>

    <div class="f f_a-s_s f_j-c_s-b m-t_6 m-b_8 f-s_small">
        <span class="m-s_8">{{ name }}</span>
        <span class="m-s_8">{{ time }}</span>
    </div>
</div>
