<section class="screen">
    <header class="screen__header">
        <week-button [command]="backCommand"></week-button>
        <week-info class="screen__header-title" text="Підтримка" [isCropped]="true"></week-info>
    </header>

    <article class="screen__content m-w_560">
        <week-info
            class="m-t_24 m-s_24"
            subtext="Для отримання інформації про користування програмою зверніться за наступними контактами"
        ></week-info>

        <div class="screen__block screen__block-list screen__block-list_56 m-t_16 m-s_8">
            <week-action [command]="copyCommand">
                <div class="screen__block h_56">
                    <week-icon class="m-l_16 o_20" icon="alternate_email"></week-icon>
                    <week-info
                        class="f_f-g_1 m-l_16 m-r_8"
                        text="support@ukrsibbank.com"
                        subtext="поштова скринька"
                    ></week-info>
                    <week-icon class="w_40 m-s_8" [icon]="copyCommand.icon"></week-icon>
                </div>
            </week-action>

            <week-action [command]="copyCommand">
                <div class="screen__block h_56">
                    <week-icon class="m-l_16 o_20" icon="phone"></week-icon>
                    <week-info class="f_f-g_1 m-l_16 m-r_8" text="729" subtext="контактний телефон"></week-info>
                    <week-icon class="w_40 m-s_8" [icon]="copyCommand.icon"></week-icon>
                </div>
            </week-action>
        </div>

        <week-info class="m-t_24 m-s_24" subtext="або почніть чат з підтримкою"></week-info>

        <week-button class="h_56 m-t_16 m-s_8 m-b_8 b-c_dark b-r_12" mode="dark" [command]="chatCommand"></week-button>
    </article>
</section>
