<section class="screen">
    <article class="screen__content">
        <div class="f f_f-d_c f_j-c_c h_100pc">
            <week-icon class="f_a-s_c w_100 h_100 o_20" icon="forum"></week-icon>
            <week-info class="m-t_8 m-s_24 t-a_c" subtext="Виберіть чат для початку листування"></week-info>
        </div>
    </article>
</section>
