<section class="screen">
    <header class="screen__header">
        <week-button [command]="backCommand"></week-button>
        <week-info class="screen__header-title" text="Мова" [isCropped]="true"></week-info>
    </header>

    <article class="screen__content m-w_560">
        <div class="screen__block screen__block-list m-t_16 m-s_8">
            <ng-container *ngFor="let option of options">
                <ng-container
                    *ngTemplateOutlet="optionTmp; context: { option: option, selected: checkIsSelected(option) }"
                ></ng-container>
            </ng-container>
        </div>
    </article>
</section>

<ng-template #optionTmp let-option="option" let-selected="selected">
    <week-action [command]="option.command">
        <div class="screen__block h_56 m-s_16">
            <week-info class="f_f-g_1 m-r_16" [text]="option.text" [subtext]="option.subtext"></week-info>

            <week-icon [class.screen__active]="selected" [icon]="makeIconPath(selected)"></week-icon>
        </div>
    </week-action>
</ng-template>
