<form class="screen__block f_a-i_f-e" [formGroup]="formGroup">
    <week-input
        class="m-h_40 f_f-g_1 f_f-s_1 b-r_12"
        type="multiline"
        placeholder="Введіть повідомлення"
        formControlName="message"
    ></week-input>

    <week-button class="h_40 b-r_12" [command]="sendCommand"></week-button>
</form>
