<section class="screen">
    <header class="screen__header">
        <div class="screen__block f_f-g_1">
            <week-button [command]="backCommand"></week-button>

            <week-info class="screen__header-title" text="Вибір контактів" [isCropped]="true"></week-info>

            <week-button [command]="nextCommand"></week-button>
        </div>

        <app-search
            class="w_100pc m-t_16"
            [control]="searchControl"
            [clearCommand]="searchClearCommand"
            [isClearVisible]="isSearchClearVisible"
        ></app-search>

        <div class="screen__block f_f-g_1 f_f-w_w">
            <ng-container *ngFor="let user of selected">
                <ng-container *ngTemplateOutlet="chips; context: { $implicit: makeChipsCommand(user) }"></ng-container>
            </ng-container>
        </div>
    </header>

    <article class="screen__content">
        <ng-container *ngIf="!isSearchClearVisible">
            <week-info
                class="screen__block h_100pc f_j-c_c m-s_24 t-a_c"
                subtext="Знайдіть користувача з яким бажаєте створити группу"
            ></week-info>
        </ng-container>

        <ng-container *ngIf="isSearchClearVisible">
            <ng-container *ngFor="let contact of contacts">
                <ng-container
                    *ngTemplateOutlet="
                        searchItem;
                        context: { contact: contact, selected: checkIsSelected(contact.user) }
                    "
                ></ng-container>
            </ng-container>
        </ng-container>
    </article>
</section>

<ng-template #chips let-command>
    <div class="screen__chips b-c_active b-r_12 m-t_8 m-r_8">
        <week-action class="c_white" [command]="command" mode="dark">
            <div class="screen__block h_40" [title]="command.tooltip">
                <week-info class="f_f-s_1 c_i m-s_8" [isCropped]="true" [text]="command.text" mode="dark"></week-info>
                <week-icon class="f_white m-r_8" [icon]="command.icon"></week-icon>
            </div>
        </week-action>
    </div>
</ng-template>

<ng-template #searchItem let-contact="contact" let-selected="selected">
    <week-action class="w_100pc" [command]="contact.command">
        <div class="screen__block w_100pc">
            <app-user-item
                class="h_56 m-l_8 f_f-g_1"
                avatarSize="small"
                [isOnline]="contact.user.isOnline"
                [text]="contact.user.name"
                [subtext]="contact.user.position!"
            >
            </app-user-item>

            <week-icon class="m-r_24" [class.screen__active]="selected" [icon]="makeIcon(selected)"></week-icon>
        </div>
    </week-action>
</ng-template>
