<section class="screen">
    <header class="screen__header">
        <div class="screen__block f_f-g_1">
            <week-button [command]="backCommand"></week-button>

            <week-info class="screen__header-title" text="Дані" [isCropped]="true"></week-info>

            <week-button [command]="createCommand"></week-button>
        </div>
    </header>

    <article class="screen__content">
        <div class="screen__block screen__block-list m-t_24 m-s_8 b-c_white b-r_12">
            <week-input
                class="f_f-g_1"
                icon="people"
                placeholder="Назва групи"
                [formControl]="nameControl"
            ></week-input>
        </div>

        <ng-container *ngIf="hasUsers">
            <week-info class="m-t_24 m-s_24" subtext="Учасники"></week-info>

            <div class="screen__block screen__block-list screen__block-list_56 m-t_16 m-s_8 m-b_24">
                <ng-container *ngFor="let contact of contacts">
                    <week-action class="w_100pc screen__error" [command]="contact.command">
                        <div class="screen__block w_100pc">
                            <app-user-item
                                class="h_56 f_f-g_1"
                                avatarSize="small"
                                [isOnline]="contact.user.isOnline"
                                [text]="contact.user.name"
                                [subtext]="contact.user.position!"
                            >
                            </app-user-item>

                            <week-icon class="m-r_24" icon="remove_circle"></week-icon>
                        </div>
                    </week-action>
                </ng-container>
            </div>
        </ng-container>

        <ng-container *ngIf="!hasUsers">
            <week-info class="m-t_24 m-s_24 t-a_c" subtext="В групі немає учасників"></week-info>
        </ng-container>
    </article>
</section>
