<section class="screen">
    <article class="screen__content m-w_560">
        <div class="f f_f-d_c f_j-c_c h_100pc">
            <div class="f f_a-s_c update__spinner w_100 h_100">
                <week-icon class="w_100 h_100 o_20" icon="sync"></week-icon>
            </div>

            <week-info class="m-t_8 m-s_24 t-a_c" subtext="Оновлення..."></week-info>
        </div>
    </article>
</section>
