* {
    font-family: "Fira Sans", sans-serif;
}

.screen__wrapper {
    width: 375px;
    height: 768px;
    background-color: #ffffff;

    &_gray {
        background-color: #efeff3;
    }
}

.screen {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > * {
        flex-shrink: 0;
    }

    &__header,
    &__footer {
        z-index: 100;
    }

    &__header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #efeff3;
        background-color: #ffffff;

        &-title {
            flex-shrink: 1 !important;
            margin-left: -56px;
            margin-right: -56px;
            padding: 0 56px !important;
            text-align: center;
            width: calc(100% - 56px * 2);

            & > week-button {
                height: 40px;
                border-radius: 12px;
            }
        }

        &,
        & > .screen__block {
            & > week-button,
            & > week-menu {
                height: 40px;
                border-radius: 12px;
            }
        }
    }

    &__content {
        flex-grow: 1;
        flex-shrink: 1 !important;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        & > * {
            flex-shrink: 0;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-around;
        padding: 8px;
        border-top: 1px solid #efeff3;
        background-color: #ffffff;

        & > week-button,
        & > week-menu {
            height: 40px;
            border-radius: 12px;
        }
    }

    &__block {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > * {
            flex-shrink: 0;
        }

        &-list {
            flex-direction: column !important;
            align-items: stretch !important;
            border-radius: 12px;
            background-color: #ffffff;

            & > * {
                position: relative;
                height: 56px;
                border-radius: 0 !important;

                &:first-child {
                    border-top-left-radius: 12px !important;
                    border-top-right-radius: 12px !important;
                }

                &:last-child {
                    border-bottom-right-radius: 12px !important;
                    border-bottom-left-radius: 12px !important;
                }

                &:not(:last-child):after {
                    content: "";
                    position: absolute;
                    right: 16px;
                    bottom: 0;
                    left: 16px;
                    display: block;
                    height: 1px;
                    background-color: #efeff3;
                }
            }

            &_56 > *:not(:last-child):after {
                left: 56px;
            }
        }
    }

    &__active {
        fill: #0a9a7b !important;
        color: #0a9a7b !important;
    }

    &__error {
        fill: #eb5757 !important;
        color: #eb5757 !important;
    }

    &__online-status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #0a9a7b;
    }

    &__chips {
        flex-shrink: 1 !important;
        width: calc(100% / 3 - 8px);
        height: 40px;
        max-width: calc(100% / 3 - 8px) !important;
    }

    &__logo {
        margin: 75px auto 56px;
        width: 128px !important;
        height: 134px !important;
    }
}

.c {
    &_i {
        color: inherit !important;
    }

    &_white {
        color: #ffffff !important;
    }

    &_dark {
        color: #000000 !important;
    }
}

.f {
    &_i {
        fill: inherit !important;
    }

    &_white {
        fill: #ffffff !important;
    }
}

.i-b {
    display: inline-block !important;
}

.f {
    display: flex !important;

    &_f {
        &-d_c {
            flex-direction: column !important;
        }

        &-g_1 {
            flex-grow: 1;
        }

        &-s_0 {
            flex-shrink: 0;
        }

        &-s_1 {
            flex-shrink: 1 !important;
        }

        &-w_w {
            flex-wrap: wrap !important;
        }
    }

    &_j-c {
        &_f-e {
            justify-content: flex-end;
        }

        &_c {
            justify-content: center;
        }

        &_s-b {
            justify-content: space-between;
        }
    }

    &_a {
        &-i {
            &_f-s {
                align-items: flex-start !important;
            }

            &_c {
                align-items: center;
            }

            &_f-e {
                align-items: flex-end !important;
            }
        }

        &-s {
            &_f-e {
                align-self: flex-end;
            }

            &_c {
                align-self: center;
            }

            &_s {
                align-self: stretch;
            }
        }
    }

    &-s {
        &_small {
            font-size: 12px;
        }
    }
}

.t-a {
    &_l {
        text-align: left !important;
    }

    &_c {
        text-align: center;
    }
}

.m {
    &-t {
        &_4 {
            margin-top: 4px;
        }

        &_6 {
            margin-top: 6px;
        }

        &_8 {
            margin-top: 8px;
        }

        &_12 {
            margin-top: 12px;
        }

        &_16 {
            margin-top: 16px;
        }

        &_24 {
            margin-top: 24px;
        }
    }

    &-s {
        &_8 {
            margin-left: 8px;
            margin-right: 8px;
        }

        &_16 {
            margin-left: 16px;
            margin-right: 16px;
        }

        &_24 {
            margin-left: 24px;
            margin-right: 24px;
        }
    }

    &-r {
        &_8 {
            margin-right: 8px;
        }

        &_16 {
            margin-right: 16px;
        }

        &_24 {
            margin-right: 24px;
        }
    }

    &-b {
        &_8 {
            margin-bottom: 8px;
        }

        &_16 {
            margin-bottom: 16px;
        }

        &_24 {
            margin-bottom: 24px;
        }
    }

    &-l {
        &_8 {
            margin-left: 8px;
        }

        &_16 {
            margin-left: 16px;
        }

        &_24 {
          margin-left: 24px;
        }

        &_m-16 {
            margin-left: -16px;
        }
    }

    &_8 {
        margin: 8px;
    }
}

.m-w {
    &_95pc {
        max-width: 95%;
    }

    &_560 {
      max-width: 560px;
    }
}

.m-h {
    &_40 {
        min-height: 40px !important;
    }
}

.b {
    &-c {
        &_white {
            background-color: #ffffff !important;
        }

        &_dark {
            background-color: #000000 !important;
        }

        &_gray {
            background-color: #efeff3 !important;
        }

        &_active {
            background-color: #0a9a7b !important;
        }

        &_transparent {
            background-color: transparent !important;
        }
    }

    &-r_12 {
        border-radius: 12px !important;
    }
}

.h {
    &_40 {
        height: 40px !important;
    }

    &_56 {
        height: 56px !important;
    }

    &_80 {
        height: 80px !important;
    }

    &_100 {
        height: 100px !important;
    }

    &_100pc {
        height: 100%;
    }
}

.w {
    &_40 {
        width: 40px !important;
    }

    &_100 {
        width: 100px !important;
    }

    &_128 {
        width: 128px !important;
    }

    &_100pc {
        width: 100%;
    }
}

.z-i {
    &_1 {
        z-index: 1;
    }
}

.o_20 {
    opacity: 0.2;
}
