<section class="screen">
    <header class="screen__header">
        <div class="screen__block f_f-g_1">
            <week-button [command]="backCommand"></week-button>

            <week-info class="screen__header-title" text="Створення чату" [isCropped]="true"></week-info>
        </div>

        <app-search
            class="f_f-g_1 m-t_16"
            [control]="searchControl"
            [clearCommand]="searchClearCommand"
            [isClearVisible]="isSearchClearVisible"
        ></app-search>
    </header>

    <article class="screen__content">
        <ng-container *ngIf="!isSearchClearVisible">
            <week-info
                class="screen__block h_100pc f_j-c_c m-s_24 t-a_c"
                subtext="Знайдіть користувача з яким бажаєте розочати переписку"
            ></week-info>
        </ng-container>

        <ng-container *ngIf="isSearchClearVisible">
            <ng-container *ngFor="let contact of contacts">
                <week-action class="w_100pc" [command]="contact.command">
                    <app-user-item
                        class="h_56 m-l_8"
                        avatarSize="small"
                        [isOnline]="contact.user.isOnline"
                        [text]="contact.user.name"
                        [subtext]="contact.user.position!"
                    ></app-user-item>
                </week-action>
            </ng-container>
        </ng-container>
    </article>
</section>
