<div class="screen__block h_40 b-c_gray">
    <week-input
        class="m-h_40 f_f-g_1"
        icon="search"
        placeholder="Пошук"
        [formControl]="control"
        (onBlur)="searchBlurHandler()"
        (onFocus)="searchFocusHandler()"
    ></week-input>

    <ng-container *ngIf="isClearVisible">
        <week-button [command]="clearCommand!"></week-button>
    </ng-container>
</div>
